https://www.digitalocean.com/community/tutorials/how-to-configure-custom-connection-options-for-your-ssh-client

1. 用户设置的配置，应该放在 home 目录的 .ssh/config 里

---------------------------------------
2. 配置文件结构： 具体参考 man ssh_config
---------------------------------------

示例：
Host home
    HostName example.com
    User apollo
    Port 4567
    IdentityFile ~/.ssh/id_rsa_github

The config file is organized by hosts. 
Each host definition can define connection options for the specific matching host. 
wildcard[英]['waɪldkɑ:d] [美]['waɪldkɑd] 通配符
Wildcards are also available to allow for options that should have a broader scope

关键字是不区分大小写的 即 host hostname port 等等，每行的开头一个单词

---------------------------------------
例子一：
---------------------------------------

wangxiang@wangxiang-M68MT-S2P:~/.ssh$ cat config
host mac.mini
  hostname 192.168.3.23
  user wangxiang
  identityfile ~/local-c

设置好后，直接写 host 指定的名字就可以，参考会使用配置文件里的：

wangxiang@wangxiang-M68MT-S2P:~/.ssh$ ssh mac.mini
Enter passphrase for key '/home/wangxiang/local-c': 
Last login: Fri Sep 16 23:45:05 2016 from 192.168.3.5

---------------------------------------
例子二：
---------------------------------------
host github.com
  identityfile ~/github-404


